# NOTE: If a package is required for conservator-cli to run, also include it in setup.py
wheel
sphinx
sgqlc
click
tqdm
pytest
requests
black
Pillow
jsonschema
dataclasses; python_version<'3.7'
pymongo
