# NOTE: If a package is required for conservator-cli to run, also include it in setup.py
wheel
sphinx
sgqlc >= 13
click >= 8
tqdm
pytest
requests
black
Pillow
jsonschema
dataclasses; python_version<'3.7'
pymongo
# docker is for building conservator image from inside jenkins pipeline
docker
semver == 2.13.0