# NOTE: If a package is required for conservator-cli to run, also include it in setup.py
graphql-core == 3.2.1; python_version<'3.7'
wheel
sphinx
sphinx_rtd_theme
myst-parser
sgqlc >= 13; python_version>='3.7'
sgqlc == 16.0; python_version<'3.7'
click >= 8
tqdm
pytest
requests
black
Pillow
jsonschema
dataclasses; python_version<'3.7'
pymongo
# docker is for building conservator image from inside jenkins pipeline
docker
semver == 2.13.0